/*     Alex Ketavongsa 
 *     Project 2 - index.css
 *     This CSS file controls the positioning of the nav buttons and sets colors and fonts.   
 */

img {
    height: auto;
    padding-right: 5em;
}

.right {
    text-align: right;
    float: right;
}

* {
  box-sizing: border-box;
}

body {
    font-family: 'Signika', sans-serif;
    color: black;
 	margin: 0;
 	padding: 0;
}

main {
  padding: 1em;
}

nav {
  padding: .5em;
  display: flex;
  align-items: center;
  background-color: lightgray;
}
nav span {
  display: inline-block;
  width: 33.3vw;
}
nav span:nth-child( 2 ) {
  font-weight: bold;
  text-align: center;
  font-size: 1.3em;
}

a {
  color: #228958;
}

ul {
  padding: 0;
}

li.item { 
  border: 3px solid green;
  padding: 1em;
  width: 90%;
  list-style-type: none;
  margin: 1em auto 0;
  text-align: center;
  background-color: cornsilk;
}

li.item img {
	padding: 1em;
	max-width: 90%;
	max-height: 325px;	
}
